{% extends 'base.html'%}
{% block title%}CONTACT US{% endblock%}
{% block content%}
{% if out == 1%}
<div class="alert alert-dark container text-center col-6" role="alert">
    hii {{name}}, we will contact you later ........
</div>
{% endif %}
 <div class="container d-flex ">
    <div class="container w-25 mr-5">
        <h1 class="text-muted">CONTACT US</h1>
        <p class="text-muted">Call us on:</p>
        <p>call: +91 8086 651 651</p>
        <p class="text-muted">Call us on:</p>
        <p>call: =91 8086 651 651</p>
        <p class="text-muted">Connect us on:</p>
        <p>Whatsapp</p>
        <p class="text-muted">Locate us on:</p>
        <p>Google map</p>
    </div> 
    <div class="container mi-5">
        <h5>How can we be of assistance?</h5>
        <p>
            If you require clarification on any of the admission process, we are happy to help</p>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="name" class="col-sm-2 col-form-label">Name<label>
                    <div class="col-sm-50">
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                </div>  
                <div class="row mb-3">
                    <label for="email" class="col-sm-2 col-form-label">Email<label>
                    <div class="col-sm-60">
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                </div>
                    <div class="row mb-3">
                        <label for="phno" class="col-sm-2 col-form-label">Phone Number<label>
                            <div class="col-sm-50">
                                <input type="number" class="form-control" id="phno" name="phno">
                            </div>
                        </div>
                             <div class="d-flex justify-content-md">
                                <button type="submit" class="btn btn-dark">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
{% endblock %}

