{% extends 'newbase.html'%}
{% block title%}{% endblock%}
{% block content%}


<div class="d-flex m-5">
    <div class="m-5 align-middle">
    
</div>
<div class="mt-5">
    <h1 class="text-center mb-3">FMCAHS<h1>
        
        <h3><p class="text-justify">
            Father Muller Medical College is a unit of Father Muller Charitable Institutions, a Registered Society owned by the Catholic Diocese of Mangalore. This is a Religious Minority Educational Institution established primarily for the benefit of the members of the Christian Community. The Postgraduate courses MD/MS/Diploma were started in the year 1991 and the Undergraduate course - MBBS was started in the year 1999. Like all other Educational Institutions under Catholic auspices, it is open to all persons irrespective of religion, caste or community. The undergraduate and postgraduate degrees awarded at Father Muller Medical College under RGUHS, Karnataka, are recognized and approved by MCI (now NMC), New Delhi.

            Today Father Muller Medical College has earned worldwide recognition as an outstanding centre of medical education producing trained medical personnel of calibre, topping the list of aspirants to get trained here. As of now the college conducts MBBS & Post-graduate programmes including PhD and MCh in Urology, along with several Allied Health Science & Para Medical courses. The college also provides amenities for the students as well as faculty & staff in the campus spreading almost 30 acres.
        </p></h3>
    </div>
</div>




{% endblock%}